/* styles.css */

/* Body background color */
body {
    background-color: #9cc2e7;
  }
  
  /* Container styles */
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d6dde2;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Header text styles */
  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form input styles */
  form {
    margin-bottom: 20px;
  }
  
  /* Button styles */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  
  
  